.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 1200px;
    height: 600px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.header {
    display: grid;
    width: 100%;
    height: 10%;
    line-height: 3;
    text-align: center;
    background-color: rgb(227, 227, 227);
}
.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    height: 70%;
    background-color: rgb(255, 248, 239);
}
.articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 1fr 1fr;
    background-color: rgb(255, 248, 239);
}
.article_title {
    display: grid;
    grid-column: 1/4;
    text-align: center;
    line-height: 4;
}
.article {
    display: grid;
    margin: 15px 15px 10px 15px;
    text-align: center;
    line-height: 4;
    background-color: bisque;
}
.article:nth-child(4) {
    grid-column: 1/4;
    margin: 10px 15px 15px 15px;
}
.aside {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 4;
    background-color: rgb(224, 235, 228);
}
.footer {
    height: 20%;
}
.sections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    background-color: rgb(227, 227, 227);
}
.section {
    display: grid;
    margin: 20px 15px 20px 15px;
    text-align: center;
    line-height: 4;
    background-color: rgb(255, 253, 253);
}

